<div class="ui raised segment">
  <br>
  {{#if model.active}}
    <a class="ui green ribbon huge label">Active</a><br><br>
  {{else}}
    <a class="ui grey ribbon huge label">Not Active</a><br><br>
  {{/if}}
  <span>
    <h1 class="ui large dividing header">
      {{this.model.name}}
    </h1>
  </span><br>
  {{#if deleteView}}
    By deleting this Application your are removing all Events and Application Informations <br><br>
    <button class="ui inverted red button" {{action "delete"}}>Continue</button>
    <button class="ui inverted primary button" {{action (mut deleteView) false}}>Cancel</button>
  {{else}}
    {{#link-to "packets.info" model.packetId}}
      <button class="ui circular inverted secondary icon button" id="backbutton">
        <i class="angle left icon"></i>
      </button>
    {{/link-to}} &nbsp;&nbsp;&nbsp;
    <div role="button" class="ui red button" {{action (mut deleteView) true}}>
      <i class="trash icon"></i> Packet Löschen
    </div>
    <script>
      $('.ui.dropdown')
        .dropdown();
    </script>
  {{/if}}
  <br>
  <br>
  <strong> Deaktiviere das Paket um zu Bearbeiten </strong><br>
  <br>
  {{ui-checkbox class="toggle" label="Paket Status" checked=model.active onChange=(action "setActive")}}
  <br>
  <br>
  {{#if (eq model.active true)}}
    <div class="ui padded stackable grid">
      <div class="ui eight wide column">
        <h2 class="ui medium dividing header">Application Information</h2>
        <div class="ui form">
          <div class="field">
            <label for="">Name</label>
            {{this.model.name}}
          </div>
          <div class="field">
            <label for="">Description</label>
            {{this.model.description}}
          </div>
          <div class="field">
            <label for="">Amount</label>
            {{#if this.model.amount}}
              {{this.model.amount}}
            {{else}}
              <i>Not Available</i>
            {{/if}}
          </div>
          <div class="field">
            <label for="">Präsentierter Preis</label>
            {{#if this.model.displayedPrice}}
              {{this.model.displayedPrice}}
            {{else}}
              <i>Not Available</i>
            {{/if}}
          </div>
          <div class="field">
            <label for="">Packet Typ</label>
            {{#if this.model.packetType}}
              {{this.model.packetType}}
            {{else}}
              <i>Not Available</i>
            {{/if}}
          </div>
          <div class="field">
            <label for="">Packet Eigentschaften</label>
            {{#if this.model.packetProperties}}
              {{#each model.packetProperties as |property|}}
                {{property}} -
              {{/each}}
            {{else}}
              <i>Not Available</i>
            {{/if}}
          </div>
          <div class="field">
            <label for="">Erstellt am</label>
            {{#if this.model.createdAt}}
              {{moment-from-now this.model.createdAt}}
            {{else}}
              <i>Not Available</i>
            {{/if}}
          </div>
        </div>
      </div>
      <div class="eight wide column">
      </div>
    </div>
  {{else}}
    <div class="ui padded stackable grid">
      <div class="eight wide column">
        <h2 class="ui medium dividing header">Wichtige Informationen</h2>
        <div class="ui form">
          <div class="required field">
            <label for="">Name deines Pakets</label>
            {{input value=this.model.name placeholder="Enter name..." type="text"}}
          </div>
          <div class="required field">
            <label for="">Beschreibe dein Paket in kurzen Sätzen</label>
            {{textarea value=this.model.description placeholder="Enter description..." type="text" maxlength="120" }}
          </div>
          <div class="field">
            <label for="">Paket Typ</label>
            {{#ui-dropdown class="selection" selected="Bob" onChange=(action (mut model.packetType))}}
              <div class="default text">Paket Typ</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                {{#each types as |type|}}
                  <div data-value={{type}} class="item">
                    {{type}}
                  </div>
                {{/each}}
              </div>
            {{/ui-dropdown}}
          </div>
          <div class="field">
            <label for="">Paket Eigenschaften</label>
            {{input value=this.property placeholder="For e.g. Freier Eintritt zu Events" enter=(action "addKeyword" this.property)}}
            <br> <br>
            {{#each model.packetProperties as |prop|}}
              <a class="ui label" role="button" {{action "deleteKeyword" prop}}>
                <i class="trash icon"></i> {{prop}}
              </a>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="eight wide column">
        <h2 class="ui medium dividing header">Paket Preis</h2>
        <div class="ui form">
          <div class="field">
            <label for="">Wieviel soll das Paket kosten?</label>
            {{input value=model.amount placeholder="Enter amount..." type="number"}}
          </div>
          <div class="field">
            <label for="">Was soll auf dem Paket Preis-Badge stehen?</label>
            {{input value=model.displayedPrice placeholder="Statt 800 nur 400 EUR..." type="text"}}
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <button class="ui green {{if save "disabled" ""}}  button" {{action "save"}} type="submit">
      <i class="save icon"></i>Speichern
    </button>
  {{/if}}
</div>