<div class="ui raised segment">
  <br>
  {{#if model.active}}
    <a class="ui green ribbon huge label">Active</a><br><br>
  {{else}}
    <a class="ui grey ribbon huge label">Not Active</a><br><br>
  {{/if}}
  <span>
    <h1 class="ui large dividing header">
      {{this.model.name}}
    </h1>
  </span><br>
  {{#if deleteView}}
    By deleting this Application your are removing all Events and Application Informations <br><br>
    <button class="ui inverted red button" {{action "delete"}}>Continue</button>
    <button class="ui inverted primary button" {{action (mut deleteView) false}}>Cancel</button>
  {{else}}
    {{#link-to "index"}}
      <button class="ui circular inverted secondary icon button" id="backbutton">
        <i class="angle left icon"></i>
      </button>
    {{/link-to}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <div class="ui floating labeled black icon dropdown button">
      <i class="dropdown icon"></i>
      <span class="text">Menu</span>
      <div class="menu">
        {{#link-to "packets.info.edit" this.model.packetId class="item"}}
          <i class="write icon"></i>
          Edit Application
        {{/link-to}}
        <div role="button" class="item" {{action (mut deleteView) true}}>
          <i class="trash icon"></i>
          Delete Application
        </div>
      </div>
    </div>
    <script>
      $('.ui.dropdown')
        .dropdown();
    </script>
  {{/if}}
  <div class="ui padded stackable grid">
    <div class="ui eight wide column">
      <h2 class="ui medium dividing header">Application Information</h2>
      <div class="ui form">
        <div class="field">
          <label for="">Name</label>
          {{this.model.name}}
        </div>
        <div class="field">
          <label for="">Amount</label>
          {{#if this.model.amount}}
            {{this.model.amount}}
          {{else}}
            <i>Not Available</i>
          {{/if}}
        </div>
        <div class="field">
          <label for="">Präsentierter Preis</label>
          {{#if this.model.displayedPrice}}
            {{this.model.displayedPrice}}
          {{else}}
            <i>Not Available</i>  
          {{/if}}
        </div>
        <div class="field">
          <label for="">Packet Typ</label>
          {{#if this.model.packetType}}
            {{this.model.packetType}}
          {{else}}
            <i>Not Available</i>
          {{/if}}
        </div>
        <div class="field">
          <label for="">Paket Dauer</label>
          {{this.model.duration}}
        </div>
        <div class="field">
          <label for="">Packet Eigentschaften</label>
          {{#if this.model.packetProperties}}
            {{#each model.packetProperties as |property|}}
              {{property}} - 
            {{/each}}
          {{else}}
            <i>Not Available</i>
          {{/if}}
        </div>
        <div class="field">
          <label for="">Erstellt am</label>
          {{#if this.model.createdAt}}
            {{moment-from-now this.model.createdAt}}
          {{else}}
            <i>Not Available</i>
          {{/if}}
        </div>
        <div class="field">
          <label for="">Description</label>
          {{this.model.description}}
        </div>
      </div>
    </div>
    <div class="eight wide column">
    </div>
  </div>
</div>