<div class="ui raised segment">
  <div class="ui padded grid">
    <div class="sixteen wide column">
      <h1 class="ui huge dividing header">Dashboard</h1>
      {{#ui-progress percent=model.progress class="grey indicating" id="progress"}}
        <div class="bar"></div>
        <div class="label">You have made {{model.maxAmount}}€</div>
      {{/ui-progress}}
      <h2 class="ui medium dividing header">Packets</h2>
      <div class="ui relaxed divided list">
        {{#each model.packets as |packet|}}
          <div class="item">
            <div class="content">
              {{#link-to "packets.info" packet.packetId class="header"}}
                {{packet.name}}
              {{/link-to}}
              <div class="meta">
                <span class="cinema">{{moment-from-now packet.createdAt}}</span>
              </div>
              <div class="description">
                <p>{{packet.description}}</p>
              </div>
              {{#if (eq packet.active true)}}
                {{#link-to "packets.info" packet.packetId}}
                  <a class="ui green label">Status: Active</a>
                {{/link-to}}
              {{else}}
                {{#link-to "packets.info" packet.packetId}}
                  <a class="ui grey label">Status: Not active</a>
                {{/link-to}}
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
      <div class="ui hidden section divider"></div>
      <h1 class="ui huge dividing header">Bookings</h1>
      <table class="ui selectable fixed stackable table">
        <thead>
          <tr>
            <th>Go To Booking</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Total</th>
            <th>Startet am</th>
            <th>Bestellt am</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.bookings as |booking|}}
            <tr>
              <td>
                {{#link-to "bookings.info" booking.bookingId}}
                  <a class="ui black icon label"><i class="eye icon"></i>Go to</a>  
                {{/link-to}}
              </td>
              <td >
                {{booking.firstName}}
              </td>
              <td >
                {{booking.lastName}} 
              </td>
              <td>
                <a href="mailto:{{booking.email}}">{{booking.email}}</a>
              </td>
              <td>
                <a href="tel:{{booking.tel}}">{{booking.tel}}</a>
              </td>
              <td>
                {{booking.packet.amount}}
              </td>
              <td>
                {{moment-to-now booking.createdAt}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>