<div class="ui raised segment">
  <div class="ui padded grid">
    <div class="sixteen wide column">
      <h1 class="ui huge dividing header">Dashboard</h1>
      {{#ui-progress percent=model.progress class="grey indicating" id="progress"}}
        <div class="bar"></div>
        <div class="label">You have made {{model.maxAmount}}€ this month</div>
      {{/ui-progress}}
      <h2 class="ui medium dividing header">Packets</h2>
      <div class="ui relaxed divided list">
        {{#each model.packets as |packet|}}
          <div class="item">
            <div class="content">
              {{#link-to "packets.info" packet.packetId class="header"}}
                {{packet.name}}
              {{/link-to}}
              <div class="meta">
                <span class="cinema">{{moment-from-now packet.createdAt}}</span>
              </div>
              <div class="description">
                <p>{{packet.description}}</p>
              </div>
              {{#if (eq packet.active true)}}
                {{#link-to "packets.info" packet.packetId}}
                  <a class="ui green label">Active</a>
                {{/link-to}}
              {{else}}
                {{#link-to "packets.info" packet.packetId}}
                  <a class="ui grey label">Not active</a>
                {{/link-to}}
              {{/if}}
            </div>
          </div>
        {{/each}}
      </div>
      <div class="ui hidden section divider"></div>
      <h1 class="ui huge dividing header">Bookings</h1>
      {{#ui-dropdown class="selection" selected="Bob" onChange=(action (mut this.queryType))}}
        <div class="default text">Search for...</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each this.types as |type|}}
            <div data-value={{type}} class="item">
              {{type}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
      {{#if (eq this.queryType "Status")}}
        {{#ui-dropdown class="search selection" allowAdditions=true selected=this.queryStatus onChange=(action (mut this.queryStatus)) click=(action "queryByStatus") as |execute mapper|}}
          <div class="default text">Enter status...</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            {{#each this.statuses as |status|}}
              <div data-value={{map-value mapper status}} class="item">
                {{status}}
              </div>
            {{/each}}
          </div>
        {{/ui-dropdown}} &nbsp;&nbsp;&nbsp;
        <button class="ui circular inverted blue icon button" {{action "queryByStatus"}} id="backbutton">
          <i class="filter icon"></i>
        </button>
      {{else}}
        {{#if (eq this.queryType "Company")}}
          <div class="ui input">
            {{input value=this.queryCompany placeholder="Enter Company..." keyUp=(action "queryByCompany")}}
          </div>
        {{/if}}
      {{/if}}
      <table class="ui selectable fixed stackable table">
        <thead>
          <tr>
            <th>Go To Booking</th>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Email</th>
            <th>Tel</th>
            <th>Total</th>
            <th>Startet am</th>
          </tr>
        </thead>
        <tbody>
          {{#each model.bookings as |booking|}}
            <tr>
              <td>
                {{#link-to "bookings.info" booking.bookingId}}
                  <a class="ui black icon label"><i class="eye icon"></i>Go to</a>  
                {{/link-to}}
              </td>
              <td >
                {{booking.firstName}}
              </td>
              <td >
                {{booking.lastName}} 
              </td>
              <td>
                <a href="mailto:{{booking.email}}">{{booking.email}}</a>
              </td>
              <td>
                <a href="tel:{{booking.tel}}">{{booking.tel}}</a>
              </td>
              <td>
                {{booking.packet.amount}}
              </td>
              <td>
                {{moment-from-now booking.scheduledDate}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</div>